<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.santoshkumarsingh.gxplayer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="com.santoshkumarsingh.gxmusicplayer.ACTION_PLAY" />
                <action android:name="com.santoshkumarsingh.gxmusicplayer.ACTION_PAUSE" />
                <action android:name="com.santoshkumarsingh.gxmusicplayer.ACTION_PREVIOUS" />
                <action android:name="com.santoshkumarsingh.gxmusicplayer.ACTION_NEXT" />
                <action android:name="com.santoshkumarsingh.gxmusicplayer.ACTION_STOP" />
            </intent-filter>
        </activity>

        <service
            android:name=".Services.MediaPlayerService"
            tools:ignore="InnerclassSeparator" />

        <activity
            android:name=".Activities.DetailActivity"
            android:configChanges="orientation|screenSize"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".Activities.ListActivity" />
        <activity
            android:name=".Activities.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".Activities.SearchActivity" />

        <!-- This meta-data tag is required to use Google Play Services. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Include the AdActivity configChanges and theme. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <activity android:name=".Activities.FavoritesActivity"></activity>
    </application>

</manifest>